/* load reset rules first */
@import url("normalize.css");

/* Colors */
:root
{
    --primary: #905960;
    --secondary: #FEECF0;
    --third: #4A4A4A;
    --four: #FFFFFF;
    --fifth: #E3C8CC;
    --six: #E8E8E8;
    --color-link:#0A0A0A;

    --dimen-small: 8px;
    --dimen-medium: 16px;
    --dimen-large: 24px;
    --dimen-xlarge: 32px;
    --dimen-xxlarge: 48px;
}

/* all elements box-sizing:border-box; */
html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

/*remove gaps at edge of viewport*/
body
{    
    margin:0px;
    font-family: "Roboto Condensed", sans-serif;
}

/*
Fonts size
*/
h1{ font-size: 1.9em; 	}
h2{ font-size: 1.7em; 	}
h3{ font-size: 1.4em; 	}
h4{ font-size: 1.2em; 	}
h5{ font-size: 1.1em; 	}
h6{ font-size: 1.0em; 	}

h1, h2, h3, h4, h5, h6
{
    font-family: cursive;
    font-weight: 400;
}

/* Dropdown Menu */

.dropdown
{
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show
{
    display: block;
    padding: 0px;
}

/* Sticky Footer */
#wrapper
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh; 
}

/* Images size */
main img
{
    width: 100%;
    height: auto;
}

footer img
{
    max-width: 90%;
}

main .breakfasts img, main .details img
{
    height: 100%;
}

.logo
{
    width: 40px;
    height: auto;
}

footer .coverage-map
{
    max-width: 80%;
    object-fit: cover;
    object-position: center;
    border: solid 2px var(--secondary);
    border-radius: 8%;
}


/* Style all anchor tags */
a
{
    text-decoration: none;
    color: var(--four);
}

a:hover
{
    text-decoration: underline;
}

/* Style ul */
ul
{
    padding: 0px;
    list-style: none;
}

ol
{
    padding-left: var(--dimen-large);
    list-style: upper-roman;
}

ol li::marker
{
    color: var(--primary);
    font-weight: bold;
}


/* Change default icon ul list */
main ul li
{
    display: flex;
    align-items: center;
    gap: var(--dimen-small);
}
main ul li::before {
    content: "";
    display: block;
    background-image: url("../images/ic_start.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    min-width: 14px;
    height: 14px;
}


/* Fonts */
nav ul li h1
{
    font-size: var(--dimen-medium);
}

.copyright
{
    font-size: small;
    font-style: italic;
}


/* Text styles */
header, nav, footer, .copyright, main .breakfasts, h2
{
    text-align: center;
}

.breakfasts .article-content div
{
    font-weight: bold;
}

main .topic p, main .section article ul, main .section p
{
    text-align: justify;
}

.details article p
{
    font-weight: 600;
}

main a:hover
{
    font-weight: bold;
}


/* Margin */
h1, h2, h3, h4, h5, h6
{
    margin: 0px 0px 8px;
}

p, ul, nav ul li h1, blockquote
{
    margin: 0px;
}

header span, footer span, main span, nav ul .name-logo h1
{
    margin-left: var(--dimen-small);
}

.breakfasts .article-content div, .breakfasts .article-content p
{
    margin-bottom: var(--dimen-medium);
}

main section h2
{
    margin-top: var(--dimen-medium);
}

main .details article p, main .section article ul, main .section article p
{
    margin-block: var(--dimen-medium);
}

main
{
    padding-bottom: var(--dimen-large);
}

main .details article button
{
    margin-top: var(--dimen-medium);
}


/* Padding */
section
{
    padding: 0px var(--dimen-medium);
}

main .topic
{
    padding: var(--dimen-medium) var(--dimen-large) 0px var(--dimen-large)
}

footer .footerColumn, header, footer .payment-methods
{
    padding-block: var(--dimen-medium);
}

main article .article-content
{
    padding: var(--dimen-medium);
}

main .section article
{
    padding: var(--dimen-medium) var(--dimen-medium);
}

nav ul li a
{
    padding-inline: var(--dimen-small);
    padding-block: var(--dimen-medium);
}

nav ul .dropdown-content a
{
    padding-inline: var(--dimen-medium);
}

nav ul .name-logo a
{
    padding: 0px;
}

main .details article
{
    padding-bottom: 0px;
}

main .details article button
{
    padding: var(--dimen-small);
}

footer
{
    padding-bottom: var(--dimen-medium);
}

footer .coverage-map
{
    margin-block: var(--dimen-medium);
}

.copyright
{
    padding: var(--dimen-medium) var(--dimen-small);
}


/* Colors */
body
{
    background-color: var(--fifth);
}

header, footer
{
    background-color: var(--primary);
    color: var(--four);
}

nav
{
    background-color: var(--secondary);
}

nav h1
{
    color: var(--third);
}

nav .cart
{
    color: var(--primary);
}

main
{
    background-color: var(--four);
}

main h3, h4, h5, h6
{
    color: var(--primary);
    font-weight: 600;
}

nav ul li a
{
    color: var(--third);
}

nav ul li a:hover
{
    background-color: var(--six);
    text-decoration: none;
}

main a
{
    color:var(--primary);
    text-decoration: underline;
}

main .details article button
{
    background-color: #fff;
    color: var(--primary);
}

footer .payment-methods
{
    background-color: var(--secondary);
}

.copyright
{
    background-color: var(--four);
}


/* Border */
main section article, main form
{
    border-radius: .25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1),
     0 0 0 1px rgba(10,10,10,.02);
}

main .details article button
{
    border: solid 1px var(--primary);
    border-radius: 4px;
}


/* blockquote */
blockquote
{
    background-color: var(--secondary);
    border-left: solid 10px var(--primary);
    border-radius: 7px;
    padding: 1px 10px;
}

blockquote p
{
    font-weight: bold;
    color: var(--third);
}

blockquote p cite
{
    font-weight: normal;
    color: var(--third);
}


/* Code */
pre
{
    color: var(--third);
    border: solid 1px var(--primary);
    background-color: var(--secondary);
    border-radius: 7px;
    padding: 5px;

    /* wrap pre formatted tag */
    white-space: pre-wrap; 
    word-wrap: break-word;
}

/* Table */
table
{
    font-size: medium;
    background-color: var(--six);
    border: solid 1px var(--primary);

}

table th
{
    color: var(--four);
    background-color: var(--primary);
}

table td
{
    font-size: small;
    background-color: var(--secondary);
    border: solid 1px var(--fifth)
}



/* Header & Footer*/
footer, footer .footer-body
{
    display: grid;
    grid-template: auto / 100%;
    align-items: center;
    gap: var(--dimen-small);
}

header .header-column h3, .header-column:nth-of-type(2)
{
    display: none;
}

header 
{
    display: flex;
    justify-content: space-evenly;
}

footer .social-media
{
    display: flex;
    justify-content: center;
    gap: var(--dimen-medium);
}

footer .payment-methods
{
    width: 100%;
}

/* nav */
nav ul li a
{
    display: block;
}

nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

nav .name-logo, nav .right-nav, nav .side-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul .name-logo
{
    width: 100%;
}


/* main */
main section .breakfasts, main .details article
{
    display: grid;
    grid-template: auto / auto;
    gap: var(--dimen-medium);
}

main section
{
    display: grid;
    grid-template: auto / auto;
    gap: var(--dimen-medium);
}

main section .breakfasts article
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}

main .topic
{
    max-width: 650px;
    margin: auto;
}

/* Details Product */
main .section .image-container, main .details .image-container
{
    max-height: 350px;
    max-width: 350px;
    margin: auto;
}

main .details, main .section
{
    width: fit-content;
    margin: auto;
}


main .details .article-content
{
    margin: auto;
}

main .details article button:hover
{
    cursor: pointer;
}

/* Forms */
form
{
    background-color: var(--secondary);
    color: var(--third);    
    margin-block: var(--dimen-xxlarge);
    margin-inline: auto;
    border-radius: 6px;
    padding: var(--dimen-xlarge) var(--dimen-large);
    max-width: 350px;
}

form .input-label-group input{      
    border-radius: 5px;    
    transition:all .2s ease;
    width: 100%;
    padding: 5px var(--dimen-small);
}


form .input-label-group label
{
    display: block;
    font-weight: 700;
    margin-block: var(--dimen-small);

}

form input[type="submit"]
{
    display: block;
    border: none;
    border-radius: 5px;
    margin-top: var(--dimen-medium);
    margin-inline: auto;
    padding: var(--dimen-small) var(--dimen-medium);
    background-color: var(--primary);
    color: var(--four);

}

form .forgot-link
{
    display: block;
    margin-top: 3px;
    font-style: italic;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
    color: var(--third);
}



/* Media Queries !! */
@media (min-width: 500px)
{
    main section .breakfasts
    {
        grid-template-columns: 1fr 1fr;
        gap: var(--dimen-large);
    }

    footer .coverage-map
    {
        max-width: 450px;
        object-fit: cover;
        object-position: center;
    }

    nav ul
    {
        justify-content: space-between;
    }

    nav ul .side-content, nav ul .right-nav
    {
        margin-inline: var(--dimen-medium);
    }

    nav ul .name-logo
    {
        margin-left: var(--dimen-medium);
    }

    table td
    {
        font-size: var(--dimen-medium);
    }

}


@media (min-width: 750px)
{
    main .details article .image-container
    {
        max-width: 450px;
        max-height: 450px;
    }

    nav ul .name-logo
    {
        width: auto;
    }

    header .header-column h3
    {
        display: block;
    }

    main .details article
    {
        display: flex;
        flex-direction: row;
    }

    footer .footer-body
    {
        grid-template-columns: repeat(2, 1fr);
        padding-block: var(--dimen-large);
    }

    footer .footer-body .footer-column:nth-of-type(3)
    {
        grid-column: span 2;
    }

    footer .footer-body .footer-column:last-of-type
    {
        grid-column: span 2;
    }

    /* Delivery Policy */
    main .section
    {
        max-width: 750px;
    }

}

@media (min-width: 1000px)
{
    main section .breakfasts
    {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--dimen-large);
    }

    .header-column:nth-of-type(2)
    {
        display: block;
    }

    main .topic
    {
        max-width: 850px;
        margin-bottom: var(--dimen-large);
    }

    #wrapper
    {
        max-width: 1200px;
        margin: auto;
    }

    footer .footer-body
    {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--dimen-large);
    }

    footer .footer-body .footer-column:nth-of-type(3)
    {
        order: 1;
        grid-column: span 3;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: var(--dimen-large);
    }

    footer .footer-body .footer-column:not(.footer-column:nth-of-type(3))
    {
        order: 2;
        grid-area: auto;
    }

}


