/* load reset rules first */
@import url("normalize.css");

/* Colors */
:root
{
    --primary: #905960;
    --secondary: #FEECF0;
    --third: #4A4A4A;
    --four: #FFFFFF;
    --fifth: #E3C8CC;
    --six: #E8E8E8;

    --dimen-small: 8px;
    --dimen-medium: 16px;
    --dimen-large: 24px;
}

/* all elements box-sizing:border-box; */
html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

/*remove gaps at edge of viewport*/
body
{    
    margin:0px;
    font-family: "Roboto Condensed", sans-serif;
}

/*
Fonts size
*/
h1{ font-size: 1.9em; 	}
h2{ font-size: 1.7em; 	}
h3{ font-size: 1.4em; 	}
h4{ font-size: 1.2em; 	}
h5{ font-size: 1.1em; 	}
h6{ font-size: 1.0em; 	}

h1, h2, h3, h4, h5, h6
{
    font-family: cursive;
    font-weight: 400;
}

/* Dropdown Menu */

.dropdown
{
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding-inline: var(--dimen-medium);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show
{
    display: block;
}

/* Sticky Footer */
#wrapper
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh; 
}

/* Images size */
main img
{
    width: 100%;
    height: auto;
}

main .breakfasts img
{
    height: 100%;
}

.logo
{
    width: 40px;
    height: auto;
}

footer .coverage-map
{
    max-width: 450px;
    object-fit: cover;
    object-position: center;
}


/* Style all anchor tags */
a
{
    text-decoration: none;
    color: var(--four);
}

a:hover
{
    text-decoration: underline;
}

/* Style ul */
ul
{
    list-style: none;
    padding: 0px;
}

/* Fonts */
nav ul li h1
{
    font-size: var(--dimen-medium);
}

.copyright
{
    font-size: small;
    font-style: italic;
}


/* Text styles */
header, nav, footer, .copyright, main .breakfasts, h2
{
    text-align: center;
}

.breakfasts .article-content div
{
    font-weight: bold;
}

main .topic p
{
    text-align: justify;
}


/* Margin */
h1, h2, h3
{
    margin: 0px 0px 8px;
}

p, ul, nav ul li h1
{
    margin: 0px;
}

header span, footer span, main span, nav ul .name-logo h1
{
    margin-left: var(--dimen-small);
}

.breakfasts .article-content div, .breakfasts .article-content p
{
    margin-bottom: var(--dimen-medium);
}

main section h2
{
    margin-bottom: var(--dimen-medium);
}


/* Padding */
nav
{
    padding-block: var(--dimen-small);
}

section
{
    padding: 0px var(--dimen-medium);
}

main .topic
{
    padding: var(--dimen-medium) var(--dimen-large)
}

footer .footerColumn, header, footer .payment-methods
{
    padding-block: var(--dimen-medium);
}

.article-content
{
    padding: var(--dimen-medium);
}

nav ul li a
{
    padding: var(--dimen-small);
}

nav ul .name-logo a
{
    padding: 0px;
}

footer
{
    padding-bottom: var(--dimen-medium);
}

.copyright
{
    padding: var(--dimen-medium) var(--dimen-small);
}

footer .footer-body img
{
    padding-inline: var(--dimen-large);
}


/* Colors */
body
{
    background-color: var(--fifth);
}

header, footer
{
    background-color: var(--primary);
    color: var(--four);
}

nav
{
    background-color: var(--secondary);
}

nav h1
{
    color: var(--third);
}

nav .cart
{
    color: var(--primary);
}

main
{
    background-color: var(--four);
}

main h3
{
    color: var(--primary);
    font-weight: 600;
}

nav ul li a
{
    color: var(--third);
}

nav ul li a:hover
{
    background-color: var(--six);
    text-decoration: none;
}

main a
{
    color:var(--primary);
    text-decoration: underline;
}

main a:hover
{
    font-weight: bold;
}

footer .payment-methods
{
    background-color: var(--secondary);
}

.copyright
{
    background-color: var(--four);
}


/* Border */
main section article
{
    border-radius: .25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1),
     0 0 0 1px rgba(10,10,10,.02);
}


/* Header & Footer*/
footer, footer .footer-body
{
    display: grid;
    grid-template: auto / 100%;
    align-items: center;
    gap: var(--dimen-small);
}

header .header-column h3, .header-column:nth-of-type(2)
{
    display: none;
}

header 
{
    display: flex;
    justify-content: space-evenly;
}

footer .social-media
{
    display: flex;
    justify-content: center;
    gap: var(--dimen-medium);
}

footer .payment-methods
{
    width: 100%;
}

/* nav */
nav ul li a
{
    display: block;
}

nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav .name-logo, nav .right-nav, nav .side-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul .name-logo
{
    width: 100%;
}


/* main */
main section .breakfasts
{
    display: grid;
    grid-template: auto / auto;
    gap: var(--dimen-medium);
}

main section .breakfasts article
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}

main .topic
{
    max-width: 650px;
    margin: auto;
}

.image-container
{
    max-height: 90vw;
}


/* Media Queries !! */
@media (min-width: 500px)
{
    main section .breakfasts
    {
        grid-template-columns: 1fr 1fr;
        gap: var(--dimen-large);
    }

    .image-container
    {
        max-height: 45vw;
    }

    nav ul
    {
        justify-content: space-between;
    }

    nav ul .side-content, nav ul .right-nav
    {
        margin-inline: var(--dimen-medium);
    }

    nav ul .name-logo
    {
        margin-left: var(--dimen-medium);
    }
}


@media (min-width: 750px)
{
    main section .breakfasts
    {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--dimen-large);
    }

    .image-container
    {
        max-height: 30vw;
    }

    nav ul .name-logo
    {
        width: auto;
    }

    header .header-column h3
    {
        display: block;
    }

    main section h2
    {
        margin-bottom: var(--dimen-large);
    }

    footer .footer-body
    {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .footer-body .footer-column:nth-of-type(3)
    {
        grid-column: span 2;
    }

    footer .footer-body .footer-column:last-of-type
    {
        grid-column: span 2;
    }
}

@media (min-width: 1000px)
{
    main section .breakfasts
    {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--dimen-large);
    }

    .image-container
    {
        max-height: 22vw;
    }

    .header-column:nth-of-type(2)
    {
        display: block;
    }

    main .topic
    {
        max-width: 850px;
        margin-bottom: var(--dimen-large);
    }

    #wrapper
    {
        max-width: 1200px;
        margin: auto;
    }

    footer .footer-body
    {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--dimen-large);
    }

    footer .footer-body .footer-column:nth-of-type(3)
    {
        order: 2;
        grid-column: span 3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: var(--dimen-large);
    }

    footer .footer-body .footer-column:last-of-type
    {
        order: 1;
        grid-area: auto;
    }
}


